[submodule "droopescan"]
	path = droopescan
	url = https://github.com/droope/droopescan.git
[submodule "joomscan"]
	path = joomscan
	url = https://github.com/rezasp/joomscan.git
[submodule "snmpenum"]
	path = snmpenum
	url = https://github.com/ajohnston9/snmpenum.git
[submodule "odat"]
	path = odat
	url = https://github.com/quentinhardy/odat.git
